<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAuth</title>
</head>
<body>
    
<nav>
    <ul>
        <li>
            <a href="/">HomePage</a>
        </li>
        <li>
            <a href="/auth/login"> Login</a>
        </li>
       
    </ul>
</nav>
<header>
    <h1>
        oAuth
    </h1>
</header>
<main>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dolor soluta, illo illum adipisci rem ad, eligendi aspernatur commodi ratione ducimus dignissimos enim fugit id magnam ex atque consequatur repudiandae!
    </p>
</main>
</body>
</html>